{% extends 'base.html' %}
{% block content %}

<!--Main layout-->
<main>
<div class="container">
    <h2>Order Summary</h2>
    <table class="table">
      <thead>
        <tr>
            <th>#</th>
          <th scope="col">Item titel</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Total Item Price</th>
        </tr>
      </thead>
      <tbody>
      {% for order_item in object.items.all %}
          <tr>
          <th>{{ forloop.counter }}</th>
          <th scope="row">{{ order_item.item.title }}</th>
          <td>{{ order_item.item.price }}</td>
          <td>
              <a href="{% url 'core:remove_single_item_from_cart' order_item.item.slug %}"><i class="fas fa-minus"></i></a>
              {{ order_item.quantity }}
              <a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus"></i></a>
          </td>
          <td>
              {% if order_item.item.discount_price %}
                  ${{ order_item.get_total_discount_item_price }}
                  <span class="badge badge-primary">(Saving ${{ order_item.get_amount_saved }} )</span>
              {% else %}
                  ${{ order_item.get_total_item_price }}
              {% endif %}
              <a class="float-end text-dark" href="{% url 'core:remove-from-cart' order_item.item.slug %}">
                  <i class="fas fa-trash"></i>
              </a>

          </td>

        </tr>
          {% empty %}
          <tr>
          <td colspan="5"> Your cart is empty</td>
          </tr>
      {% endfor %}
      {% if object.get_total %}
          <tr>
            <td colspan="4"><strong>Order Total</strong></td>
            <td>{{ object.get_total }}</td>
          </tr>
            <tr>
            <td colspan="5">
                <a href="/" class="btn btn-secondary">Continue Shopping</a>
                <a href="/checkout" class="btn btn-warning float-end">Proceed to checkout</a>
            </td>
            </tr>
          {% else %}
          <tr>
              <td colspan="5">
                <a href="/" class="btn btn-secondary">Continue Shopping</a>
              </td>
          </tr>
      {% endif %}

      </tbody>
    </table>
</div>
</main>
 <!--Main layout-->
{% endblock content %}


